.priority-danger {
    color: #fff;
    background-color: #dc3545;
    padding: 2px 6px;
    border-radius: 4px;
}

.priority-light {
    color: #212529;
    background-color: #f8f9fa;
    padding: 2px 6px;
    border-radius: 4px;
}