<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <!-- Imagen de la empresa -->
            <a class="navbar-brand" href="/home">
                <img src="logo.png" alt="Logo Empresa" class="logo-empresa">
            </a>

            <!-- Botón de menú para móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto" *ngIf="user?.user_type_id === 2">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tool" routerLinkActive="active">Herramientas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tools-wear-report" routerLinkActive="active">Reportes</a>
                    </li>
                </ul>
            </div>

            <!-- Usuario + Logout -->
            <div class="d-flex align-items-center ms-3" *ngIf="user; else loadingUser"> 
                <span class="ms-2 user-name">{{ user.name }}</span>
                <button class="btn btn-danger ms-3" (click)="logout()">Cerrar sesión</button>
            </div>

            <ng-template #loadingUser>
                <span class="text-light">Cargando usuario...</span>
            </ng-template>

        </div>
    </nav>
</header>