<div class="container mt-4">

    <h1 class="mb-4">AEROSPACE ELECTRICAL TESTING DEPARTMENT</h1>

    <div class="row mb-3">
        <div class="col-md-4 col-12 mb-2 mb-md-0">
            <input type="text" class="form-control w-100" [(ngModel)]="search" (input)="assemblies()"
                placeholder="Search by part number..." />
        </div>
        <div class="col-md-8 col-12 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="newAssembly()">
                <i class="fa fa-plus me-1"></i> Nuevo registro
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-white" style="background: linear-gradient(135deg, #584f4f, #312d2d);">
                    Testing</div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Lista de ensambles 11/11/2025</h5> -->
                    <ul class="list-unstyled">
                        <!-- Recorremos los primeros 8 items -->
                        <li *ngFor="let item of topAssemblies; let i = index">
                            <button class="btn btn-custom"
                                [ngClass]="item.priority_type === 1 ? 'btn-gradient-success' : 'btn-gradient-light'">
                                {{ topAssemblies.length - i }}.- NumPart: {{ item.part_number }}
                                <span class="circle-badge">{{ item.quantity }}</span>
                            </button>
                        </li>

                        <!-- Mensaje si no hay registros -->
                        <li *ngIf="catalogoAssemblies.length === 0">
                            <span class="text-muted">No records found</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-end gap-2">
                    <button *ngIf="currentAssembly" class="btn btn-custom pulse-effect">
                        NumPart: {{ currentAssembly.part_number }}
                        <span class="circle-badge">{{ currentAssembly.quantity }}</span>
                    </button>
                    <span *ngIf="!currentAssembly" class="text-muted">No items in production</span>
                </div>
            </div>
        </div>

        <!-- TABLA -->
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>**</th>
                            <th>NumPart</th>
                            <th>Order</th>
                            <th>Customer</th>
                            <th>Type</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of catalogoAssemblies; let i = index">
                            <td> <span class="text-muted" style="font-size: 1rem;">{{ i + 1 }}</span></td>
                            <td>
                                <span class="text-muted" style="font-size: 1rem;">
                                    {{ item.part_number }}
                                </span>
                            </td>
                            <td>
                                <!-- <div class="d-flex flex-column">
                                    <span class="fw-semibold">{{ item.customer_name }}</span>
                                    <span class="text-muted small">{{ item.quantity }}</span>
                                </div> -->
                                <div class="d-flex flex-column">
                                    <span class="text-muted" style="font-size: 1rem;">
                                        Company: {{ item.customer_name }}
                                    </span>
                                    <span class="text-muted small" style="font-size: 0.85rem;">
                                        Quantity: {{ item.quantity }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <!-- <img *ngIf="item.logo_url" [src]="item.logo_url" alt="Logo" width="100" height="50" /> -->
                                <div class="d-flex align-items-center">
                                    <img *ngIf="item.logo_url" [src]="item.logo_url" width="100" height="35"
                                        class="rounded me-2 border" />
                                </div>
                            </td>
                            <td>
                                <span [ngClass]="{
                                    'priority-danger': item.priority_type === 1,
                                    'priority-light': item.priority_type === 2
                                    }">
                                    {{ item.priority_type === 1 ? 'Prioritario' : 'Normal' }}
                                </span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-warning" (click)="editAssembly(item)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" (click)="deleteItem(item.id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <!-- Mensaje si no hay registros -->
                        <tr *ngIf="catalogoAssemblies.length === 0">
                            <td colspan="6" class="text-center text-muted py-3">
                                No se encontraron registros
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Paginación -->
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-3 gap-2">
                <div>Total de ensambles: <strong>{{ total }}</strong></div>

                <ngb-pagination [collectionSize]="total" [(page)]="currentPage" [pageSize]="pageSize"
                    (pageChange)="assemblies()">
                </ngb-pagination>

                <select class="form-select w-auto" [(ngModel)]="pageSize" (ngModelChange)="assemblies()">
                    <option [ngValue]="5">5 por página</option>
                    <option [ngValue]="10">10 por página</option>
                    <option [ngValue]="20">20 por página</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- Modal de creación/edición -->
<ng-template #assemblyModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{ assemblyForm.get('id')?.value ? 'Editar' : 'Generar nuevo' }} ensamble</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="assemblyForm">
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">NumPart:</label>
                    <input type="text" class="form-control" formControlName="part_number" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Cantidad</label>
                    <input type="number" class="form-control" formControlName="quantity" />
                </div>

                <!-- Tipo -->
                <div class="col-md-4">
                    <label class="form-label">Prioridad</label>
                    <select class="form-select" formControlName="priority_type">
                        <option [ngValue]="null" disabled>Seleccione una opción</option>
                        <option *ngFor="let p of priorityOptions" [ngValue]="p.id">
                            {{ p.name }}
                        </option>
                    </select>
                </div>

                <!-- Operador -->
                <div class="col-md-4">
                    <label class="form-label">Operador</label>
                    <select class="form-select" formControlName="user_id">
                        <option [ngValue]="null" disabled>Seleccione una opción</option>
                        <option *ngFor="let o of opetators" [ngValue]="o.id">
                            {{ o.name }}
                        </option>
                    </select>
                </div>

                <!-- Cliente -->
                <div class="col-md-4">
                    <label class="form-label">Cliente</label>
                    <select class="form-select" formControlName="assembly_customer_id">
                        <option [ngValue]="null" disabled>Seleccione una opción</option>
                        <option *ngFor="let c of customers" [ngValue]="c.id">
                            {{ c.customer_name }}
                        </option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Fecha</label>
                    <input type="date" class="form-control" formControlName="assembly_date" />
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn border text-white" style="background: linear-gradient(135deg, #216832, #218838);"
            (click)="saveAssembly(modal)">{{ assemblyForm.get('id')?.value ? 'Actualizar' : 'Guardar' }}</button>

        <button class="btn border text-white" style="background: linear-gradient(135deg, #a1a1a1, #616663);"
            (click)="modal.dismiss()">Cancelar</button>
    </div>
</ng-template>